body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.hero-section {
    position: relative; 
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section::before {
    content: "";
    background-image: url('./restaurant-hero.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
    font-weight: bold;
    
}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
p {
    font-size: 1.2em;
    
}

.menu {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  .menu-category > h2 {
    color: rgb(83, 82, 82);
    font-size: 1.8em;
    margin-top: 50px;
  }
  h1 {
    text-align: center;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  .dish {
    margin-bottom: 20px;
  }
  .dish h2 {
    margin-bottom: 5px;
  }
  .dish p {
    margin: 5px 0;
  }