body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./restaurant-hero.jpg');
    background-size: cover;
}

nav {
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: rgb(210, 216, 219, 0.7);
    position: sticky;
}

button {
    width: 120px;
    border: none;
    font-size: 1.4em;
    background: none;

}

button:hover {
    text-decoration: underline;
}
.hero-section {
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    height: 200px;
    width: 60%;
    text-align: center;
    justify-content: center;
    background-color: rgb(210, 216, 219, 0.7);
}

.hero-content {
    font-weight: bold;
   }

.hero-content  h1 {
    font-size: 3em;
}

.hero-content p {
    font-size: 1.8em;
    }

.menu, .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(210, 216, 219, 0.7);
   
     }

  .menu-category > h2 {
    font-size: 1.8em;
    margin-top: 50px;
  }
 
  ul {
    list-style-type: none;
    padding: 0;

  }
  .dish {
    margin-bottom: 20px;
  }
  .dish h2 {
    margin-bottom: 5px;
  }
  .dish p {
    margin: 5px 0;
    font-size: 1.3em;
  }

