body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.hero-section {
    background: url('./restaurant-hero.jpg');
    background-size: cover;
    background-position: center;
    height: 500px; /* Adjust height as needed */
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-content {
    max-width: 600px;
    margin: 0 auto;
}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
p {
    font-size: 1.2em;
    color: blue;
}